@import './variables';

footer {
    height: 5rem;
    background-color: $hookers-green;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:1rem;
    box-shadow: 0 0 10px 10px $hookers-green;
    margin-top: 2rem;
}