@import './variables.scss';

header {
    position: relative;
    background-color: $hookers-green;
    height: calc(1rem *8);
    padding: 1rem;
    color: lighten($timberwolf, 20%);
    transition: 300ms ease-in;
    box-shadow: 0 1rem 10px 10px $hookers-green;

    @include lgscrn {
        height: calc(1rem * 6.5);
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
    }

    .header_text p {
        width: 25ch;

        @include mdscrn {
            width: 40ch;
            word-break: break-all;
        }

        @include lgscrn {
            width: auto;
        }
    }

    nav.mdlg {
        display: none;

        ul {
            display: flex;
            gap: 1rem;
            font-size: 1.10rem;

            a,
            a:focus {
                color: lighten($timberwolf, 20%);
            }
        }

        @include mdscrn {
            display: unset;
        }

        @include lgscrn {
            display: unset;
        }
    }




    nav.nav_mobile {
        position: relative;
        color: $hookers-green;
        z-index: 100;

        @include mdscrn {
            display: none;
        }

        @include lgscrn {
            display: none;
        }

        img {
            cursor: pointer;

        }

        .mobile_nav_list {
            position: absolute;
            top: calc(1rem + 48px);
            right: -1rem;
            overflow: hidden;
            transition: 500ms ease-in-out;

            li {
                padding: 1rem;
                text-align: right;
                width: 15ch;
                background-color: white;

                &:hover,
                &:focus {
                    border-bottom: 1px solid $hookers-green;
                }
            }
        }
    }
}