@import './variables.scss';

header {
    position: relative;
    background-color: $hookers-green;
    padding: 1rem;
    color: lighten($timberwolf, 20%);
    transition: 300ms ease-in;
    box-shadow: 0 1rem 10px 10px $hookers-green;

    @include lgscrn {
        // height: calc(1rem * 6.5);
        #mobileLogo{
            display: none;
        }
    }

    @include mdscrn {
        #mobileLogo {
            display: none;
        }
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: end;
        max-width: 1280px;
        margin: 0 auto;

        #mobileLogo {
            margin: 0 auto;
        }

        @include mdscrn {
            align-items: center;

        }
        @include lgscrn {
            align-items: center;
        }
    }

    nav.mdlg {
        display: none;

        ul {
            display: flex;
            gap: 1rem;
            font-size: 1.10rem;
            align-items: end;

            a,
            a:focus {
                color: lighten($timberwolf, 20%);
            }
        }

        @include mdscrn {
            display: unset;
        }

        @include lgscrn {
            display: unset;
        }
    }




    nav.nav_mobile {
        position: relative;
        color: $hookers-green;
        z-index: 100;

        @include mdscrn {
            display: none;
        }

        @include lgscrn {
            display: none;
        }

        img {
            cursor: pointer;

        }

        .mobile_nav_list {
            position: absolute;
            top: calc(1rem + 2rem);
            right: -1rem;
            overflow: hidden;
            transition: 500ms ease-in-out;

            li {
                padding: 1rem;
                text-align: right;
                width: 10rem;
                background-color: white;

                &:hover,
                &:focus {
                    border-bottom: 1px solid $hookers-green;
                }

                a, a:hover, a:focus {
                    color: $hookers-green;
                }
            }
        }
    }
}