@import "./variables";

.skillContainer {
    height: auto;
    
    .skillBox{
        padding: 3rem 1rem;
        max-width: 1280px;
        margin: 0 auto;
    }

    .iconContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;
    }

    .skillText {
        max-width: 600px;
        margin: auto;
        text-align: center;
    }
}